---
import OuterLayout from "../components/OuterLayout.astro";
import SEOTags from "../components/SEOTags.svelte";

const SITE_TITLE = "Charm City Community Focus Podcast";
const SITE_DESCRIPTION = "Charm City Community Focus Podcast description";
import SubscribeForm from "../components/SubscribeForm.astro";
---

<SEOTags title={SITE_TITLE} description={SITE_DESCRIPTION} contentType="website" url={Astro.url.href} />

<OuterLayout>
  <div class="panel panel-main">
    <h1 class="text-3xl mb-2">Charm City Community Focus | Podcast</h1>

    <div class="">
      <p>We’ve got a lot of great communities in Baltimore.</p>
      <p>Let’s spread the word about all the great things we’ve got going on!</p>
    </div>
  </div>

  <div id="newsletter"></div>
  <SubscribeForm />

  <div class="panel panel-main" id="contact">
    <h2 class="text-2xl mb-2">Contact Us</h2>
    <p>Email us at `casey` at `cccfocus.org`</p>
  </div>
</OuterLayout>
