<div class="panel panel-main">
  <form action="https://buttondown.email/api/emails/embed-subscribe/cccfocus" method="post" target="popupwindow" onsubmit="window.open('https://buttondown.email/cccfocus', 'popupwindow')" class="">
    <h2 class="text-3xl mb-2">Newsletter</h2>
    <div class="">
      <label for="bd-email" class="mr-4">Your Email</label>
      <input type="email" name="email" id="bd-email" placeholder="name@example.com" />
      <input type="submit" value="Subscribe" class="p-2 bg-blue-100 rounded" />
    </div>
  </form>
</div>
